.bg-img {
    background-image: url('/assets/img/background/bg-login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

@import url('https://fonts.googleapis.com/css?family=Titan+One');

.login-box {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.login-form {
    margin-top: 80px;
}

.login-logo {
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 80px;
}

.login-logo h1{
    background:#fff;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    display:flex;
    font-family:'Titan One',cursive;
    font-weight:700;
    flex-flow:row wrap;
    align-content:center;
    justify-content:center
}

.login-logo h1 span{width:100%;position:relative}

.login-logo h1 span:before{
    background:linear-gradient(45deg,#fc5c7d,#6a82fb,#fc5c7d);
    width:100%;
    height:100%;
    display:block;
    position:absolute;
    content:"";
    mix-blend-mode:screen
    }

[class*="blobs"]
    {mix-blend-mode:color;animation:blobs 15s ease-in-out infinite alternate;position: absolute;}

.blobs_1{
    background:#ff1493;
    width:40px;
    height:40px;
    top:10px;
    left:200px
    }

.blobs_2{
    background:#ff4500;
    width:80px;
    height:80px;
    top:45px;
    left:230px
    }

.blobs_3{
    background:#00ff00;
    width:60px;
    height:60px;
    top:14px;
    left:20px
    }

.blobs_4{
    background:#ff0000;
    width:100px;
    height:100px;
    top:11px;
    left:90px
    }

.blobs_5{
    background:#ffff00;
    width:50px;
    height:50px;
    top:5px;
    left:70px
    }

.blobs_6{
    background:#00ffff;
    width:60px;
    height:60px;
    top:22px;
    left:55px
    }

.blobs_7{
    background:#ff8c00;
    width:50px;
    height:50px;
    top:21px;
    left:180px
    }

@keyframes blobs{
    0%{border-radius:26% 74% 61% 39% / 54% 67% 33% 46%}
    10%{border-radius:74% 26% 47% 53% / 68% 46% 54% 32%}
    20%{border-radius:48% 52% 30% 70% / 27% 37% 63% 73%}
    30%{border-radius:73% 27% 57% 43% / 28% 67% 33% 72%}
    40%{border-radius:63% 37% 56% 44% / 25% 28% 72% 75%}
    50%{border-radius:39% 61% 70% 30% / 61% 29% 71% 39%}
    60%{border-radius:27% 73% 29% 71% / 73% 51% 49% 27%}
    70%{border-radius:39% 61% 65% 35% / 74% 65% 35% 26%}
    80%{border-radius:55% 45% 37% 63% / 38% 30% 70% 62%}
    90%{border-radius:25% 75% 70% 30% / 39% 50% 50% 61%}
    100%{border-radius:66% 34% 33% 67% / 65% 73% 27% 35%}
    }
